@use '../abstracts/variables' as*;

footer {
    background-color: $background-color-footer;
    text-align: center;
    padding: 20px;
    /* Con esto solucionamos el sticly footer*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.footer__social-media {
    display: flex;
    justify-content: end;
    
}

.footer__social-media-facebook {
    margin-right: 1rem;
}

.footer__social-media-whatsapp {
    margin-right: 1rem;
}

.footer__social-media-twitter {
    margin-right: 1rem;
}